* {
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
    font-weight: 400;
}

h1 {
    font-size: 39px;
    line-height: 24px;
    margin: 0 0 19px 0
}

h2 {
    font-size: 28px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 22.42px;
    margin: 0;
    line-height: 14px;
}

h4 {
    font-size: 20px;
    margin: 0;
    line-height: 24px;
}

subtitle {
    font-size: 16px;
    color: #8B8B8B;
    line-height: 24px;
}

body {
    margin: 0;
    position: relative;
}

#app {
    width: 600px;
    min-height: 1161px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid black;
    border-radius: 20Px;
    overflow: hidden;
    margin: 2rem auto;
}

header {
    width: 100%;
    height: 167px;
    background: url('/images/burger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 46px;
    margin: 0;
}

#content-wrapper {
    padding: 0 46px;
}

#menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.item {
    padding: 51px 0;
    display: flex;
    gap: 31px;
    border-bottom: 1px solid #D2D2D2;
}

.emoji {
    font-size: 79px;
}

.item-inner {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.add-btn {
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
}

#order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 0;
}

#order-title {
    margin-bottom: 42px;
}

#order-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.order-items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.order-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

hr {
    border: 1px solid #393333;
    width: 100%;
    margin: 24px 0 20px;
}

.remove-item-btn {
    font-size: 12px;
    line-height: 24px;
    color: #BBBBBB;
    background: none;
    border: none;
    font-family: "Verdana";
}

.order-item-price {
    margin-left: auto;
}

#order-total {
    margin-bottom: 53px;
}

.submit-btn {
    background-color: #16DB99;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    width: 100%;
    color: white;
    padding: 18px 0;
    border: none;
    border-radius: 3px;
}

#pay-btn {
    margin-top: 23px;
}

#dialog-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
}

#order-dialog {
    position: absolute;
    z-index: 100;
    width: 524px;
    top: 292px;
    padding: 24px;
    border: none;
    box-shadow: 0 0 100px black;
}

#order-dialog-title {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 22px 0 46px;
    text-align: center;
}

#order-form {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.order-input {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    width: 100%;
    height: 71px;
    border-radius: 4px;
    padding: 26px;
}

#banner {
    width: 100%;
    background-color: #ECFDF5;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 23px;
}

/* Utility Classes */


.hidden {
    visibility: hidden;
}

.error {
    color: red;
}